
.hPatient{
    margin-right: 200px;
  }
  
  .buttonRecordAdd{
    margin-bottom:10px;
    margin-right: 20px;
  }
  .buttonDlete{
    margin-left: 5px;
  }
  .tableDiv {
    padding: 3%;
  }
  .colorValue{
    color: blue;
  }
  .marginButtomClass{
    margin-bottom: 4%;
  }
  .backStyle{
    background-color: beige;
  
  }